.wallets-wrap{
    display: grid;
    grid-template-columns:0fr 0fr 0fr;
} 
.wallets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width: 540px){
    .wallets{
        width: auto;
    }
    .wallets-wrap{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

